<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HAOS-CMS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programs">
                <Icon Name="IconName.Boxes"/>&nbsp; Programs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="workouts">
                <Icon Name="IconName.PersonArmsUp"/>&nbsp; Workouts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <Icon Name="IconName.Person"/>&nbsp; Users
            </NavLink>
        </div>
    </nav>
</div>

