.segments-container[b-vrw66rd6rv] {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

h1[b-vrw66rd6rv] {
  font-weight: bolder;
  margin-bottom: 2px;
}

.program-header[b-vrw66rd6rv] {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  gap: 20px;
  margin-bottom: 15px;
}

form[b-vrw66rd6rv] {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
}
