input[b-fmhkcohcqt] {
  margin: 10px;
}

.program-selection p[b-fmhkcohcqt] {
  transition: 0.5s ease-in-out;
}
.program-selection p:hover[b-fmhkcohcqt] {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}
