.user-card-list[b-ngxviuapd0] {
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
}
.user-card-list h6[b-ngxviuapd0],
p[b-ngxviuapd0] {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

form[b-ngxviuapd0] {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
}

.delete-icon[b-ngxviuapd0] {
  color: red;
  align-self: flex-end;
}
