.workout-container p[b-17zvvcnpyb] {
  margin: 0;
}
.workout-container[b-17zvvcnpyb] {
  text-align: start;
}

.workout-name[b-17zvvcnpyb] {
  font-weight: bold;
  font-size: 10pt;
}

.workout-description[b-17zvvcnpyb] {
  font-size: 8pt;
}
