.circuit-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  text-align: center;
  background-color: #fff;
  /* box-shadow: 1px 1px 5px 1px #ddd; */
}

.circuit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-text {
  padding-bottom: 5px;
  text-align: start;
  font-weight: bold;
  font-size: 11pt;
}
.header-text p {
  margin: 0;
}

.circuit-description {
  font-size: 10pt;
  font-weight: normal;
}

.workout-list {
  padding-top: 10px;
  align-items: center;
  list-style-type: disc;
}

.workout-row {
  list-style: disc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  color: red;
  height: 100%;
  display: flex;
  align-items: center;
}

.right-border {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 6px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
