@using HAOS.Models.Training

@code {
    [Inject]
    public required IHttpClientFactory httpClientFactory {get; set;}

    [Parameter]
    public RenderFragment? ChildContent {get; set;}

    [Parameter]
    public required ProgramDay day {get; set;}
    private ProgramDay _editDay {get; set;} = new();

    [SupplyParameterFromForm]
    private Circuit? _newCircuit {get; set;} = new();
    private Circuit? _selectedCircuit {get; set;} = null;

    private int circuitCount {get; set;} = 0;

    private Modal circuitModal {get; set;} = default!;
    private Modal deleteModal {get; set;} = default!;
    private Modal editDayModal {get; set;} = default!;

    private async Task OnAddCircuit() {
        await circuitModal.ShowAsync();
    }

    private async Task OnCreateCircuit() {
        var httpClient = httpClientFactory.CreateClient("api");
        var response = await httpClient.PostAsJsonAsync($"/circuits/add/{day.Id}", _newCircuit);
        if (response.IsSuccessStatusCode) {
            await circuitModal.HideAsync();
            var newCircuit = await response.Content.ReadFromJsonAsync<Circuit>();
            day.Circuits.Add(newCircuit ?? _newCircuit!);
            _newCircuit = new();
        }
    }

    private async Task ConfirmDeleteCircuit(Circuit circuit) {
        _selectedCircuit = circuit;
        await deleteModal.ShowAsync();
    }

    private async Task OnDeleteCircuit() {
        var httpClient = httpClientFactory.CreateClient("api");
        var response = await httpClient.DeleteAsync($"/circuits/delete/{day.Id}/{_selectedCircuit!.Id}");
        if (response.IsSuccessStatusCode) {
            await deleteModal.HideAsync();
            day.Circuits.Remove(_selectedCircuit);
            _selectedCircuit = null;
        }
    }

    private async Task OnEditDay() {
        _editDay.Title = day.Title;
        _editDay.WeekNum = day.WeekNum;
        await editDayModal.ShowAsync();
    }

    private async Task OnUpdateDay() {
        _editDay.Id = day.Id;
        var httpClient = httpClientFactory.CreateClient("api");
        var response = await httpClient.PutAsJsonAsync($"/days/update/{day.Id}", _editDay);
        if (response.IsSuccessStatusCode) {
            day.Title = _editDay.Title;
            day.WeekNum = _editDay.WeekNum;
            await editDayModal.HideAsync();
        }
    }
}

<Modal @ref="circuitModal" Title="Add Circuit">
    <BodyTemplate>
        <form @formname="circuitForm" @onsubmit="OnCreateCircuit" method="post">
            <div class="form-inputs">
                <label for="circuit-description">Description</label>
                <TextAreaInput class="input-item" name="circuit-description" @bind-value="_newCircuit!.Description" placeholder="Circuit Description" required/>
                <label for="circuit-rounds">Rounds</label>
                <NumberInput class="input-item" name="circuit-rounds" @bind-value="_newCircuit!.Rounds" placeholder="Rounds" required/>
            </div>
            <Button type="ButtonType.Submit" Color="ButtonColor.Danger">Add Circuit</Button>
        </form>
    </BodyTemplate>
</Modal>

<Modal @ref="deleteModal" Title="Delete Circuit">
    <BodyTemplate>
        <h5>Are you sure you want to delete this circuit?</h5>
        <Button @onclick="OnDeleteCircuit" Color="ButtonColor.Danger"> Confirm Delete </Button>
    </BodyTemplate>
</Modal>

<Modal @ref="editDayModal" Title="Edit Day">
    <BodyTemplate>
        <form @formname="dayEditForm" @onsubmit="OnUpdateDay" method="post">
            <TextInput @bind-value="_editDay.Title" placeholder="Day Title" required type="text"/>
            <label>Week #</label>
            <NumberInput @bind-value="_editDay.WeekNum" placeholder="1" required/>
            <Button type="ButtonType.Submit" Color="ButtonColor.Danger">Update Day</Button>
        </form>
        
    </BodyTemplate>
</Modal>

<div class="day-card">
    <div class="day-head-container">
        @ChildContent 
        <p class="day-header">@day.Title <em>(Week @day.WeekNum)</em></p>
        <div><Button @onclick="OnEditDay" Size="ButtonSize.ExtraSmall"> <Icon Name="IconName.PencilSquare"/> </Button></div>
    </div>
    
    @* Resets circuit count every render *@
    @if (circuitCount > 0) {
        circuitCount = 0;
    }
    @foreach (var circuit in day.Circuits ?? []) {
        circuitCount += 1;

        <CircuitContainer circuit="@circuit" circuitIndex="@circuitCount">
            <Button @onclick="async () => await ConfirmDeleteCircuit(circuit)" Size="ButtonSize.ExtraSmall">
                <Icon Name="IconName.XSquare"/>
            </Button>
        </CircuitContainer>
    }
    <Button @onclick="OnAddCircuit" Color="ButtonColor.Secondary" Size="ButtonSize.ExtraSmall" Outline="true"> Add Circuit </Button>
</div>