form {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
}

.program-selection p {
  transition: 0.5s ease-in-out;
}
.program-selection p:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}
