h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

form p,
form h6 {
  margin-right: auto;
  text-wrap: wrap;
}

input[type="number"] {
  width: 50px;
}
